---
import Layout from "../layouts/Layout.astro";
import directus from "../lib/directus";
import { readItems, readItem } from "@directus/sdk";

export async function getStaticPaths() {
  const pages = await directus.request(readItems("pages"));
  const paths = pages.map((page) => ({ params: { slug: page.slug } }));

  return paths
}
const { slug } = Astro.params;


const page = await directus.request(readItem('pages', slug));
---

<Layout title={page.title}>
  <main>
    <h1>{page.title}</h1>
    <div set:html={page.content} />
  </main>
</Layout>

<style></style>
